[Unit]
Description=Flask Service

[Service]
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/service.py
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target